<?xml version="1.0"?>

<model>
  <name>erlecopter with Standoffs and Camera LiftDrag ArduCopter Plugins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>


  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    starting with erlecopter_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
<!--
    <model>
      <uri>model://gimbal_small_2d</uri>
      <version>1.0</version>
    </model>
-->  
   <model>
      <uri>model://flow_cam</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://lidar</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://erlecopter_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>




</model>
